body {
    margin: 0;
    background: #DDCDBA; 
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333333;
    font-size: 13px;
}

.keypad-layout {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 24px; 
    padding: 24px;
    background: #AE9C88; 
    border-radius: 10px; 
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    width: max-content;
}

.main-section {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(15, 44px);
    grid-template-rows: 32px repeat(5, 44px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2E9DA;
    color: #333333;
    border-radius: 6px;
    box-shadow: 0 3px 0 #8E7D69; 
    cursor: pointer;
    transition: all 0.15s ease;
    position: relative;
    font-weight: bold;
    white-space: nowrap;
}

.button:hover {
    background: #FFFFFF;
}

.button:active {
    background: #E0D8C9;
    transform: translateY(2px);
    box-shadow: 0 1px 0 #8E7D69;
}

.small-text { 
    font-size: 10px; 
}


.key-esc { grid-column: 1 / 2; }
.key-f1  { grid-column: 2 / 3; }
.key-f2  { grid-column: 3 / 4; }
.key-f3  { grid-column: 4 / 5; }
.key-f4  { grid-column: 5 / 6; }
.key-f5  { grid-column: 6 / 7; }
.key-f6  { grid-column: 7 / 8; }
.key-f7  { grid-column: 8 / 9; }
.key-f8  { grid-column: 9 / 10; }
.key-f9  { grid-column: 10 / 11; }
.key-f10 { grid-column: 11 / 12; }
.key-f11 { grid-column: 12 / 13; }

.key-f12 { grid-column: 13 / 16; } 


.key-tilde { 
    grid-row: 2; 
    grid-column: 1; 
}

.key-backspace {
    grid-column: 14 / 16;
    grid-row: 2;
}

.key-tab {
    grid-column: 1 / 3;
    grid-row: 3;
}
.key-slash {
    grid-column: 14 / 16;
    grid-row: 3;
}

.key-caps {
    grid-column: 1 / 3;
    grid-row: 4;
}

.key-lshift {
    grid-column: 1 / 4;
    grid-row: 5;
}
.key-rshift {
    grid-column: 13 / 16;
    grid-row: 5;
}

.key-lctrl {
    grid-column: 1 / 3;
    grid-row: 6;
}
.key-win {
    grid-column: 3 / 4;
    grid-row: 6;
}
.key-lalt {
    grid-column: 4 / 5;
    grid-row: 6;
}
.key-spacebar {
    grid-column: 5 / 11;
    grid-row: 6;
}
.key-ralt {
    grid-column: 11 / 12;
    grid-row: 6;
}
.key-fn {
    grid-column: 12 / 13;
    grid-row: 6;
}
.key-menu {
    grid-column: 13 / 14;
    grid-row: 6;
}
.key-rctrl {
    grid-column: 14 / 16;
    grid-row: 6;
}

.key-return {
    grid-column: 14/ 16; 
    grid-row: 3 / span 2;
    height: 94px;
}



.nav-block .button,
.number-pad .button {
    height: 44px;
    min-width: 44px;
}

.nav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.nav-block .key-row {
    display: flex;
    gap: 6px;
}

.arrow-pad {
    margin-top: 42px;
    display: grid;
    grid-template-areas:
        ". up ."
        "left down right";
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.arrow.arrow-up { grid-area: up; }
.arrow.arrow-left { grid-area: left; }
.arrow.arrow-down { grid-area: down; }
.arrow.arrow-right { grid-area: right; }

.number-pad {
    display: grid;
    grid-template-columns: repeat(4, 44px);
    grid-template-rows: repeat(5, 44px);
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.number-pad .add {
    grid-row: span 2;
    height: 94px;
}

.number-pad .return {
    grid-column: 4;
    grid-row: 4 / span 2;
    height: 94px;
    width: 44px;
}

.number-pad .num-zero {
    grid-column: span 2;
<<<<<<< HEAD
}
=======
}

>>>>>>> 50caad1f84b41420098ce58630cd9c65f50a586f
